<tr>
  <td>
    <%= image_tag line_item.product.image.tiny %>
  </td>
  <td>
    <strong><%= line_item.product.name %></strong><br>
    <%= line_item.product.description %>
  </td>
  <td>
    $<%= line_item.product.price %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <% price = line_item.quantity * line_item.product.price %>
    $<%= price %>
    <% @order_total += price %>
  </td>
</tr>